<!DOCTYPE html>
<html>
  <head>
    <title>Edna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('The_Incredibles_logo.png') %>
  </head>

  <body>
    <script>
      window.ednaLogoWhite = "<%= image_url('edna_logo_white.png') %>"
      window.ednaLogoBlack = "<%= image_url('edna_logo_black.png') %>"
      window.ednaLogoRed = "<%= image_url('edna_logo_red.png') %>"
      window.splashVideo = "<%= video_url('Boards.mp4') %>"
      window.videoBackground = "<%= image_url('c9414e.png') %>"
      window.videoRightPerson = "<%= image_url('48e23c.png') %>"
      window.videoLeftPerson = "<%= image_url('bbbf3e.png') %>"
      /* window.wjLogo = "<%= image_url('wj.png') %>" */
      window.wjLogoDarkMode = "<%= image_url('wj_darkmode.png') %>"
      window.wjLogo = "<%= image_url('wj_icon_plain_transparent_bg.svg') %>"
    </script>
    <%= yield %>
  </body>
</html>
